<div class="w3-top">
    <div class="w3-bar w3-black w3-card">
      <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)"  title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a routerLink="home" class="w3-bar-item w3-button w3-padding-large">HOME</a>
      <a routerLink="band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">BAND</a>
      <a routerLink="tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TOUR</a>
      <a routerLink="contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
      <a routerLink="login" *ngIf="displayLogin" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">LOGIN</a>
      <a routerLink="profile" *ngIf="!displayLogin" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">PROFILE</a>
      <!-- <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a> -->
    </div>
  </div>