<div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">PROFILE</h2>
    
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-user" style="width:30px"></i> Name : Himanshu Sharma<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
        <button (click)="userLogout()" class="w3-button w3-black w3-section" type="button">Logout</button>

    </div>
      
    </div>
  </div>